@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Saída HTML</title>

    <style>
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #007bff;
        }

        p {
            font-size: 18px;
            margin-top: 10px;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>Exemplo de Saída HTML</h1>
        <p>@Model.Mensagem</p>
        <form method="post">
            <input type="text" id="novaMensagem" name="novaMensagem">
            <button type="submit">Alterar Mensagem</button>
        </form>
    </div>
</body>
</html>
